.cardcontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 10px;
}
.card{
    width: 200px;
    height: 300px;
    color: black;
    border-radius: 8px;
    overflow: hidden;
     box-shadow: 2px 3px 6px rgb(0, 0, 0, 0.3); 
    margin: 20px;
    border: none;

}
.card img{
    width: 100%;
    height: auto;
}
.cardcontent{
    padding: 16px;

}
.cardcontent h3{
    font-size: 40px;
    margin-bottom: 8px;
}
.cardcontent p{
    font-size: 16px;
    line-height: 1.3;
    color: black;
}
.cardcontent .btn{
    display: inline-block;
    padding: 6px 12px;
     text-decoration: none;
     color: black;
     border-radius: 4px;
     margin-top: 16px;
     background-color:white;
}
.cardcontent .btn :hover{
    background-color: peachpuff;
    transition: 0.5s ease-in;
}
.darkmode{
    width: 50px;
    background-color: black;
    border-radius: 165px;
    align-items: center;
    margin-left: 600px;
}

.dark-mode {
    background-color: rgb(58, 53, 53);
    color: white;
  }
  .page-footer {
    display: block;
    background: #272727;
    margin-top: 20px;
    border-top: 1px solid #000;
    color: rgba(255, 255, 255, 0.4);
}